@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
body{
    font-family: serif;
    background: #000;
    color: #fff;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:not(.menu-tag){
    color: white;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
}
.loading.active{
    opacity: 1;
    visibility: visible;
}
@keyframes flashing{
    50%{
        opacity: .3;
    }
}
.loadingText{
    animation: .5s flashing infinite;
}
header{
   width: 100%;
   height: 200px;
   position: relative;
}
.header-logo{
}
.header-logo img{
    position: absolute;
    top: 80px;
    left: 40px;
    width: 10%;
}
.menu01{
    position: absolute;
    top: 80px;
    right: 40px;
    
}
.menuButton{
    position: relative;
    width: 50px;
    height: 40px;
    display: inline-block;
    z-index: 3;
}
.menuButton div{
    height: 2px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
}
@keyframes menu-bar01 {
    0% {
        -webkit-transform: translateY(20px) rotate(
    45deg
    );
        transform: translateY(20px) rotate(
    45deg
    );
    }
    50% {
        -webkit-transform: translateY(20px) rotate(0);
        transform: translateY(20px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    }
    @keyframes active-menu-bar01 {
        0% {
            -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
        }
        50% {
            -webkit-transform: translateY(20px) rotate(0);
            transform: translateY(20px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(20px) rotate(
        45deg
        );
            transform: translateY(20px) rotate(
        45deg
        );
        }
    }
.menuButton div:nth-of-type(1){
    /* transform: translate(-50%, -15px); */
    -webkit-animation: menu-bar01 .75s both;
    animation: menu-bar01 .75s both;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    top: 0;
}

.menuButton.active div:nth-of-type(1){
    /* transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%; */
    -webkit-animation: active-menu-bar01 .75s both;
    animation: active-menu-bar01 .75s both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@keyframes menu-bar02 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes active-menu-bar02 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.menuButton div:nth-of-type(2){
    -webkit-animation: menu-bar02 .25s both; 
    animation: menu-bar02 .25s both;
    -webkit-animation-delay: .72s;
    animation-delay: .72s;
    top: 20px;
}
.menuButton.active div:nth-of-type(2){
    /* opacity: 0;
    transform: translate(0%, -50%); */
    -webkit-animation: active-menu-bar02 .25s both;
    animation: active-menu-bar02 .25s both;
    -webkit-animation-delay: .32s;
    animation-delay: .32s;
}
@keyframes menu-bar03 {
    0% {
        -webkit-transform: translateY(-20px) rotate(
    -45deg
    );
        transform: translateY(-20px) rotate(
    -45deg
    );
    }
    50% {
        -webkit-transform: translateY(-20px) rotate(0);
        transform: translateY(-20px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@keyframes active-menu-bar03 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-20px) rotate(0);
        transform: translateY(-20px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-20px) rotate(
    -45deg
    );
        transform: translateY(-20px) rotate(
    -45deg
    );
    }
}
.menuButton div:nth-of-type(3){
    /* transform: translate(-50%, 15px); */
    -webkit-animation: menu-bar03 .75s both;
    animation: menu-bar03 .75s both;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    bottom: 0;
}
.menuButton.active div:nth-of-type(3){
    /* transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%; */
    -webkit-animation: active-menu-bar03 .75s both;
    animation: active-menu-bar03 .75s both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.menu02{
    -webkit-transition: left 0.6s cubic-bezier(1, 0, 0, 1);
    -o-transition: left 0.6s cubic-bezier(1, 0, 0, 1);
    transition: left 0.6s cubic-bezier(1, 0, 0, 1);
    -webkit-transition-delay: 0.52s;
    -o-transition-delay: 0.52s;
    transition-delay: 0.52s;
    background: rgb(250, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 101vw;
    display: flex;
    justify-content: space-between;
}
.menu02.active {
    -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    -o-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    left: 0;
}
.menu02 ul{
    list-style: none;
    margin-top: 300px;
}
.menu02 ul:nth-of-type(1){
    margin-left: 75px;
}
.menu02 ul:nth-of-type(2){
    margin-right: 75px;
}
.menu02 ul:nth-of-type(2) a {
    widows: 100%;
}
.menu02 ul:nth-of-type(1) a{
    color: #000;
    font-size: 100px;
    width: 100%;
}
.menu02 ul:nth-of-type(2) a{
    color: #000;
    width: 100%;
    font-size: 50px;
}

.menu02 ul:nth-of-type(2) li{
    margin: 30px 0;
}
.menu02 i{
    width: 100%;
    text-align: center;
}
.menu02 img{
    transform: rotate(90deg);
    width: 100%;
    text-align: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:200px auto 50px auto;
}
.textAnimation{
    font-family:'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: .1em;
}
@keyframes showText{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showTextFromBottom {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes showTextFromTop {
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes showTextBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}
.textAnimation span{
    display: inline-block;
    animation: showText 3s backwards;
}
.textAnimation.A2 > span{
    overflow: hidden;
}
.textAnimation.A2 > span > span{
    animation: showTextBottom 2s backwards;
}
.textAnimation.A1 span:nth-of-type(odd){
    animation: showTextFromTop ease-out 3s backwards;
}
.textAnimation.A1 span:nth-of-type(even){
    animation: showTextFromBottom ease-out 3s backwards;
}
.textAnimation:nth-of-type(even){
    margin-top: 80px;
}
/* animation2↑ */
main{
    max-width: 1000px;
    width: 100%;
    margin: 200px auto;
}
ul{
    padding: 0;
}
.contents{
    margin-bottom: 110px;
}
.contents li{
    list-style: none;
    position: relative;
    /* opacity: 0;
    transform: translateY(50px) ;
    transition: 1s; */
}
/* .contents li.show{
    opacity: 1;
    transform: none;
} */

.contents li.show h2,
.contents li.show p,
main .contents li.show img{
    transform: none;
    opacity: 1;
}
.contents li:not(:first-of-type){
    margin-top: 200px;
}
.contents li:nth-of-type(odd) .contentsText{
    right: 0;
}
.contents li:nth-of-type(even) .contentsText{
    align-items: flex-start;
}
.contents li:nth-of-type(odd) img{
    transform: translate(-20px,20px);
}
.contents li:nth-of-type(even) img{
    margin-left: auto;
    transform: translate(20px,20px);
}
.contentsText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    top: 40px;
}
.contents h2{
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    background: rgba(43, 43, 43, 0.8);
    padding: 10px 20px;
    line-height: 1.4;
    letter-spacing: .05em;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}
.contents p{
    line-height: 1.6;
    background: #555;
    font-size: 14px;
    max-width: 340px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}
.contents img{
    width: 65%;
    border-radius: 5px;
    display: block;
    opacity: 0;
    transform: translateX(-20px);
    transition: 1s .5s;
}

.button{
    width: 200px;
    height: 40px;
    margin-bottom: 100px;
}
.button > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #000;
    background: rgba(43, 43, 43, 0.8);
}
.picture{
    width: 700px;
    height: 200px;
    margin-bottom: 100px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.2s;
}
.picture:hover{
    opacity: .5;
    transition: .2s;
}
.picture1{
    height: 100%;
    background-image: url(./images/night1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture2{
    height: 100%;
    background-image: url(./images/night2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture3{
    height: 100%;
    background-image: url(./images/night3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.picture4{
    height: 100%;
    background-image: url(./images/night4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.animation-target2 , .hov , .work-slide{
    position: relative;
    overflow: hidden;
}
.work-wrapper{
    text-align: center;
}
.work-slide{
    display: inline-block;
}
.animation-target2 > a,
.animation-target2 > div{
    opacity: 0;
}
.work-slide h2{
    opacity: 0;
    display: inline;
}
@keyframes showElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animation-target2.show > a,
.animation-target2.show > div{
    animation: showElements .01s .9s forwards;
}
.work-slide.active h2{
    animation: showElements .01s .9s forwards;
}
@keyframes hovAnimation {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hov.active:nth-of-type(1) a{
    animation: hovAnimation 1s;
}
.hov.active:nth-of-type(2) a{
    animation: hovAnimation 1.1s;
}
.hov.active:nth-of-type(3) a{
    animation: hovAnimation 1.2s;
}
.hov.active{
    animation: showElements .01s .9s forwards;
}


.animation-target2::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 0, 0);
    transform: translateX(-100%);

}
.hov::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 255);
    transform: translateX(-100%);

}
.work-slide::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 255, 255);
    transform: translateX(-100%);

}
.work-slide::after{
    content: '';
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    transform: translateX(99%);
    z-index: 2;
}
@keyframes showMask {
    0% {
        transform: translateX(-100%);
    }
    45%, 55% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
.animation-target2.show::before{
    animation: showMask 1.0s .35s forwards
}
.work-slide.active::before{
    animation: showMask 1.0s .35s forwards
}
.hov.active:nth-of-type(1)::before{
    animation: showMask .5s .5s forwards
}
.hov.active:nth-of-type(2)::before{
    animation: showMask .5s .6s forwards
}
.hov.active:nth-of-type(3)::before{
    animation: showMask .5s .7s forwards
}
.slide-wrap {
    position: relative;
}
.swiper-pagination {
    width: 100%;
}
.swiper-container{
    margin-top: 100px;
    width: calc(100% - 100px);
}

.swiper-container{
    margin-bottom: 100px;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-family: "font Awesome 5 free";
    font-weight: bold;
    font-size: 35px;
}
.swiper-button-next::after{
    content: '\f138';
}
.swiper-button-prev::after{
    content: '\f137';
}
.swiper-button-next, .swiper-button-prev{
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 2px black;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 5px;
}

.swiper-pagination-bullet{
    opacity: .5;
    margin: 0 6px;
}
.swiper-pagination-bullet-active{
    background: rgba(255, 255, 255);
    text-shadow: 0 0 2px black;
    opacity: 1;
}
.swiper-slide{
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s;
}
.swiper-slide:not(.swiper-slide-active){
    transform: scale(.8);
    opacity: 0.3;

}
.swiper-slide.slide1{
    background-image: url(./images/4470190_m.jpg)
}
.swiper-slide.slide2{
    background-image: url(./images/coffee2.jpg)
}
.swiper-slide.slide3{
    background-image: url(./images/coffee-2139592_1920.jpg)
}
.swiper-slide.slide4{
    background-image: url(./images/main1.jpg)
}
.swiper-slide.slide5{
    background-image: url(./images/main2.jpg)
}
.swiper-slide.slide6{
    background-image: url(./images/main3.jpg)
}
.work-slide{
    text-align: center;
}
.work-slide h2{
    font-size: 30px;
}
.swiper-slide.ss2{
    width: 50%;
}
@media(max-width:1000px){
    header h1{
        font-size: 50px;
    }
    main{
        margin: 0;
    }
    .text{
        margin: 150px auto 200px auto;
    }
}
@media(max-width:670px){
    header{
        padding: 50px 0;
    }
    header h1{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .menu02 ul{
        margin-top: 150px;
    }
    .menu02 ul:nth-of-type(1){
        margin-left: 30px;
    }
    .menu02 ul:nth-of-type(2){
        margin-right: 60px;
    }
    .menu02 ul:nth-of-type(1) a{
        font-size: 50px;
    }
    .menu02 ul:nth-of-type(2) a{
        font-size: 30px;
    }
    .menu02 ul:nth-of-type(2) li {
        width: 100%;
    }
    .menu02 img{
        width: 40px;
    }
    .textAnimation{
        font-size: 30px;
    }
    .textAnimation.A2{
        font-size: 20px;
    }
    main{
        margin: 0;
    }
    ul{
        padding: 0;
    }
    .text{
        margin: 0px auto 100px auto;
    }
    .textAnimation:nth-of-type(even) {
        margin-top: 10px;
    }
    .contentsText{
        position: relative;
    }
    .contents h2{
        margin: 0;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .contents p{
        max-width: 100%;
        margin: 10px;
       
    }
    .contents img{
        width: 100%;
    }
    .contents li:not(:first-of-type){
        margin-top: 70px;
    }
    .button-picture{
        margin-bottom: 100px;
    }
    .button{
        display: none;
    }
    .picture{
        width: 100%;
        margin-bottom: 0;
    }
    
    .swiper-slide{
        width: 100px;
    }
    .slide4, .slide5, .slide6{
        height: 80px;
    }
}
