@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
body{
    font-family: serif;
    background: #333;
    color: #fff;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    opacity: 0;
    visibility: hidden;
    transition: .3a;
}
.loading.active{
    opacity: 1;
    visibility: visible;
}
@keyframes flashing{
    50%{
        opacity: .3;
    }
}
.loadingText{
    animation: .5s flashing infinite;
}
header{
    padding: 50px;
}
/* @keyframes titleAnimation{
    0%{
        letter-spacing: .3em;
        opacity: 0;
    }
} */
/* header h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 60px;
    white-space: nowrap;
    animation: titleAnimation 1.5s;
} */
/* animation2 ↓*/
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.textAnimation{
    font-family:'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: .1em;
}
@keyframes showText{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showTextFromBottom {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes showTextFromTop {
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes showTextBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}
.textAnimation span{
    display: inline-block;
    animation: showText 3s backwards;
}
.textAnimation.A2 > span{
    overflow: hidden;
}
.textAnimation.A2 > span > span{
    animation: showTextBottom 2s backwards;
}
.textAnimation.A1 span:nth-of-type(odd){
    animation: showTextFromTop ease-out 3s backwards;
}
.textAnimation.A1 span:nth-of-type(even){
    animation: showTextFromBottom ease-out 3s backwards;
}
.textAnimation:nth-of-type(even){
    margin-top: 80px;
}
/* animation2↑ */
main{
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}
ul{
    padding: 0;
}
.contents{
    margin-bottom: 110px;
}
.contents li{
    list-style: none;
    position: relative;
    /* opacity: 0;
    transform: translateY(50px) ;
    transition: 1s; */
}
/* .contents li.show{
    opacity: 1;
    transform: none;
} */
@keyframes contents{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.contents li.show h2,
.contents li.show p,
main .contents li.show img{
    transform: none;
    opacity: 1;
}
.contents li:not(:first-of-type){
    margin-top: 200px;
}
.contents li:nth-of-type(odd) .contentsText{
    right: 0;
}
.contents li:nth-of-type(even) .contentsText{
    align-items: flex-start;
}
.contents li:nth-of-type(odd) img{
    transform: translate(-20px,20px);
}
.contents li:nth-of-type(even) img{
    margin-left: auto;
    transform: translate(20px,20px);
}
.contentsText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    top: 40px;
}
.contents h2{
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    background: rgba(20,20,20,.8);
    padding: 10px 20px;
    line-height: 1.4;
    letter-spacing: .05em;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}
.contents p{
    line-height: 1.6;
    background: #555;
    font-size: 14px;
    max-width: 340px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}
.contents img{
    width: 65%;
    border-radius: 5px;
    display: block;
    opacity: 0;
    transform: translateX(-20px);
    transition: 1s .5s;
}
.slide-wrap {
    position: relative;
}
.swiper-pagination {
    width: 100%;
}
.swiper-container{
    margin-top: 100px;
    width: calc(100% - 100px);
}

.swiper-container{
    margin-bottom: 100px;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-family: "font Awesome 5 free";
    font-weight: bold;
    font-size: 35px;
}
.swiper-button-next::after{
    content: '\f138';
}
.swiper-button-prev::after{
    content: '\f137';
}
.swiper-button-next, .swiper-button-prev{
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 2px black;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 5px;
}

.swiper-pagination-bullet{
    opacity: .5;
    margin: 0 6px;
}
.swiper-pagination-bullet-active{
    background: rgba(255, 255, 255);
    text-shadow: 0 0 2px black;
    opacity: 1;
}
.swiper-slide{
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s;
}
.swiper-slide:not(.swiper-slide-active){
    transform: scale(.8);
    opacity: 0.3;

}
.swiper-slide.slide1{
    background-image: url(./images/4470190_m.jpg)
}
.swiper-slide.slide2{
    background-image: url(./images/coffee2.jpg)
}
.swiper-slide.slide3{
    background-image: url(./images/coffee-2139592_1920.jpg)
}
.swiper-slide.slide4{
    background-image: url(./images/main1.jpg)
}
.swiper-slide.slide5{
    background-image: url(./images/main2.jpg)
}
.swiper-slide.slide6{
    background-image: url(./images/main3.jpg)
}
.work-slide{
    text-align: center;
}
.work-slide h2{
    font-size: 30px;
}
.swiper-slide.ss2{
    width: 50%;
}
@media(max-width:1000px){
    header h1{
        font-size: 50px;
    }
}
@media(max-width:670px){
    header{
        padding: 50px 0;
    }
    header h1{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .textAnimation{
        font-size: 30px;
    }
    .textAnimation.A2{
        font-size: 20px;
    }
    main{
        margin: 0;
    }
    ul{
        padding: 0;
    }
    .contentsText{
        position: relative;
    }
    .contents h2{
        margin: 0;
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .contents p{
        max-width: 100%;
        margin: 10px;
       
    }
    .contents img{
        width: 100%;
    }
    .contents li:not(:first-of-type){
        margin-top: 70px;
    }
    .swiper-slide{
        width: 100px;
    }
    .slide4, .slide5, .slide6{
        height: 80px;
    }
}
